@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
/*  ------------------------------------- font family----------------------------------  */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  .inter-thin> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }
  .manrope-thin {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* -------------- Share Style ------------- */
.header-container{
    max-width: 1220px;
    margin: 3rem auto;
}
.mian-contianer{
  max-width: 1050px;
  margin: 1rem auto;
}
.mian-contianer section{
  margin: 4rem 0;
}
.primary-btn{
  border-radius: 41px;
  background: rgb(224, 44, 109);
  padding: 10px 24px 10px 24px;
  border: none;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
}
.primary-btn i{
  margin-left: .5rem;
}
/* --------------- Universial Section ------------------- */
*{
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
/* ------------------- header section ------------------ */
.header-container .logo{
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 2rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
}
.ham-bargar{
  display: none;
  margin-top: 5px;
  color: #333;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.5rem;
}
.navbar a{
  text-decoration: none;
}
.menu-item{
  display: flex;
  align-items: center;
}
.menu-item li{
  list-style: none;
  margin-left: 30px;
}
.menu-item li a{
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}
.menu-item li a i{
  font-size: 1.3rem;
}
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-bottom: 2rem;
}
.banner-text-section{
  width: 582px;
  height: 270px;
}
.banner-text-section h1{
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0px;
  text-align: left;
}
.banner-text-section p{
  color: rgb(58, 58, 58);
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 1rem 0;
}
.banner-img{
  border: 2px solid rgb(236, 234, 234);
  padding: 2rem;
  border-radius: 50%;
}
.banner-img img{
  width: 100%;
  background-color: rgb(243, 241, 238);
  border-radius: 50%;
}

.icons{
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.straight-line{
  border-top: 1.5px solid #f0ecec;
}

/* ------------------- popular-section ---------------------- */
.popular-section-title{
  text-align: center;
  color: rgb(58, 58, 58);
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0px;
  margin-bottom: 1rem;
}

.cart{
  display: flex;
  gap: 10px;
  background-color: rgb(224, 44, 109);
  justify-content: srgb(196, 188, 188)between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}
.fa-solid{
  color: #ece4e4;
  font-size: 23px;
}
.cart p{
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: #ece4e4;
  color: rgb(74, 71, 71);
  font-weight: 700;
  font-size: 18px;
}
.container{
  display: flex;
  max-width: 1220px;
  margin-bottom: 30px;
  margin: 0 auto;
  padding: 20px 0 80px 0;
}
#root{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.sidebar{
  width: 30%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
}
.head{
  background-color: rgb(224, 44, 109);
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: white;
  display: flex;
  align-items: center;
}
.foot{
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid #333;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #da2062;
  border-radius: 5px;
  padding: 15px;
}
.img-box{
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images{
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  object-position: center;
}
.bottom{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
h2{
  font-size: 20px;
  color: red;
}
.btn-cart{
  width: 100%;
  position: relative;
  border: none;
  border-radius: 40px;
  background: rgb(224, 44, 109);
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}
button:hover{
  background-color: #333;
}
.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}
.row-img{
  width: 65px;
  height: 65px;
  border-radius: 50px;
  border: 1px solid #da2062;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rowimg{
  max-width: 55px;
  max-height: 55px;
  border-radius: 50%;
}
.fa-trash{
  color: rgb(43, 42, 42);
}
.fa-trash:hover{
  cursor: pointer;
  color: #a49a9a;
}

/* --------------- footer section style ------------------- */
.footer{
  width: 100%;
  background-color: rgb(12, 12, 39);
  padding: 3rem 0;
}
.footer-item{
  text-align: center;
  width: 265px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-item h4{
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
}
.footer-item p{
  color: rgb(217, 219, 225);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
}
.footer-cion{
  color: #f0ecec;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 5px;
}
.footer-cion li{
  list-style: none;
  font-size: 1.4rem;
}

/* ------------------- small mobile Devices -------------- */
@media screen and (max-width: 576px) {
  .ham-bargar{
    display: block;
    font-size: 1.5rem;
    color: rgb(31, 29, 29);
  }
  .fa-bars{
    color: black;
    font-weight: bold;
  }
  .header-container .logo{
    font-size: 2rem;
    text-align: center;
  }
  .menu-item{
    display: none;
  }
  .banner{
    display: flex;
    gap: 2rem;
    flex-direction: column-reverse;
  }
  .banner-text-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .banner-text-section h1{
    font-size: 2.8rem;
    text-align: center;
  }
  .mian-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
  }
  .banner-text-section p{
    font-size: 1rem;
    text-align: center;
  }
  .primary-btn{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .banner-cions{
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icons{
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.5rem;
  }
  #icon-7{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-items{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .featured-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-direction: column-reverse;
  }
  .container{
    flex-direction: column;
    align-items: center;
  }
  .sidebar{
    width: 70%;
    margin-left: 0px;
    text-align: center;
    margin-top: 30px;
  }
  #root{
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ------------------- Mid mobile Devices -------------- */
@media screen and (min-width: 576px) and (max-width: 768px){
  .ham-bargar{
    display: block;
    font-size: 2rem;
    color: rgb(58, 58, 58);
  }
  .fa-bars{
    color: black;
    font-weight: bold;
  }
  .header-container .logo{
    font-size: 2rem;
    text-align: center;
  }
  .menu-item{
    display: none;
  }
  .banner{
    display: flex;
    gap: 2rem;
    flex-direction: column-reverse;
  }
  .banner-text-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .banner-text-section h1{
    font-size: 2.8rem;
    text-align: center;
  }
  .mian-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
  }
  .banner-text-section p{
    font-size: 1rem;
    text-align: center;
  }
  .primary-btn{
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .banner-cions{
    padding: 0rem 0rem;
  }
  .icons{
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  #icon-7{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-items{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .featured-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
  }
  .straight-line{
    display: none;
  }
  .container{
    flex-direction: column;
    align-items: center;
  }
  .sidebar{
    width: 70%;
    margin-left: 0px;
    text-align: center;
    margin-top: 30px;
  }
  #root{
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ------------- Small Laptop or tablet screen ----------------- */
@media screen and (min-width: 768px) and (max-width: 1060px) {
  .menu-item li{
    margin-left: 1.5rem;
  }
  .header-container .logo{
    font-size: 1.7rem;
  }
  .banner{
    gap: 1rem;
  }
  .banner-text-section{
    width: 100%;
  }
  .banner{
    display: flex;
    gap: 2rem;
    flex-direction: column-reverse;
  }
  .banner-text-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .featured-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-direction: column;
  }
  .icons{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .straight-line{
    display: none;
  }
  .container{
    flex-direction: column;
    align-items: center;
  }
  .sidebar{
    width: 70%;
    margin-left: 0px;
    text-align: center;
    margin-top: 30px;
  }
}
/* --------- Responsive Design various device --------*/
@media screen and (max-width: 1240px) {
    .header-container{
      padding: 0 2rem;
  }
    .mian-contianer{
      padding: 0 2rem;
  }
}
